.container{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-main-container{
    width: 80%;
    min-height: 80%;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: clamp(0.8em,2vw,1.3em);
}

/* Medium devices */
@media only screen and (min-width: 600px) {

    app-main-container{
        width: 60%;
    }
}

/*large devices*/
@media only screen and (min-width: 992px) {
    
    app-main-container{
        width: 40%;
    }
}
